<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="css/collabo.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <!-- extra class no-background -->
    <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
    <h1 class="page-title">댕냥댕냥</h1>
</header>

<section>
    <div class="container">

        <div class="row mbr-justify-content-center">
            <div class="col-lg-12 mbr-col-md-10">
                <h3 class="entry-title">펫보험 비교보기</h3>
                <p>[필독!] 아래 보험사별 보험료와 보상조건 등은 고객의 이해를 돕기 위해 제공하는 것으로 보험가입시 차이가 발생항 수 있습니다. 가입전 반드시 실제 보험료와 약관을 확인하시기
                    바랍니다.</p>
            </div>
            <div class="col-lg-12 mbr-col-md-10">
                <div class="mypet">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">(1)살 (말티즈)를 키우는 다른 분들은 이런 보험을
                            선택하셨습니다.</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="insurance-icon"><img src="img/db.png" alt="" width="220"></div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">프로미 반려동물보험</span></h2>
                        <a href="#" class="button">자세히</a>
                        <a href="#" class="button">가입</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="insurance-icon"><img src="img/hyundai.png" alt="" width="220"></div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">하이펫 애견보험
                        </h2>
                        <a href="#" class="button">자세히</a>
                        <a href="#" class="button">가입</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="insurance-icon"><img src="img/lotte.png" alt="" width="220"></div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">롯데마이펫보험
                        </h2>
                        <a href="#" class="button">자세히</a>
                        <a href="#" class="button">가입</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="insurance-icon"><img src="img/samsung.png" alt="" width="220"></div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">애니펫 </h2>
                        <a href="#" class="button">자세히</a>
                        <a href="#" class="button">가입</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mbr-col-md-10">
                <label class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> 마음에 들지 않는다면, 자신에게 맞는 펫보험을 직접
                    선택해보세요!
                </label>
                <div><a href="insuranceByKeyword" class="more-btn float-right">키워드로 찾기</a></div>
            </div>

        </div>

    </div>

</section>