<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <!-- extra class no-background -->
        <h1 class="page-title">댕냥댕냥</h1>
    </header>

    <div class="container">
        <a href="javascript:history.back();">
            <div class="prev-icon">
                <div class="prev-arrow"></div>
            </div>
        </a>
        <div class="top-content">
            <h3 class="entry-title">펫보험 비교보기</h3>
            <p>[필독!] 아래 보험사별 보험료와 보상조건 등은 고객의 이해를 돕기 위해 제공하는 것으로 보험가입시 차이가 발생할 수 있습니다.</p>
            <p>가입전 반드시 실제 보험료와 약관을 확인하시기 바랍니다.</p>
            <p><label>1</label>살 <label>말티즈</label> 를 키우는 다른 분들은 이런 <label>보험</label>을 선택하셨습니다.</p>
        </div>
        <div class="cards">
            <div class="card">
                <div class="multi-image">
                    <img src="img/pet1.png" alt="" width="220">
                </div>
                <div class="card-image"> <img src="img/lotte.png"></div>
                <div class="card-text">
                    <span class="date">4 days ago</span>
                    <h2>Post One</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <div class="value">12 명</div>
                        <div class="type">peple</div>
                    </div>
                    <div class="stat border">
                        <div class="value">자세히</div>
                        <div class="type">views</div>
                    </div>
                    <div class="stat">
                        <div class="value">가입</div>
                        <div class="type">buy</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="multi-image2">
                    <img src="img/pet2.png" alt="" width="220">
                </div>
                <div class="card-image card2"> <img src="img/db.png"> </div>
                <div class="card-text card2">
                    <span class="date">1 week ago</span>
                    <h2>Post Two</h2>
                    <p>Adipisicing elit. Ducimus, repudiandae corrupti amet temporibus omnis provident illum maxime quod. Lorem ipsum dolor</p>
                </div>
                <div class="card-stats card2">
                    <div class="stat">
                        <div class="value">7 명</div>
                        <div class="type">peple</div>
                    </div>
                    <div class="stat border">
                        <div class="value">자세히</div>
                        <div class="type">views</div>
                    </div>
                    <div class="stat">
                        <div class="value">가입</div>
                        <div class="type">buy</div>
                    </div>
                </div>
            </div>
        </div>
        <a href="insuranceByKeyword">
            <div class="next-icon">
                <div class="next-arrow"></div>
            </div>
        </a>
        <div class="botton-content">
            <p> 마음에 들지 않는다면, 자신에게 맞는 펫보험을
                <a href="insuranceByKeyword"> <label class="keyword">키워드</label></a>로 직접 선택해보세요!
            </p>
        </div>
    </div>

    <script>
        $.ajax({
            url: "/insuranceByCollaborativeFiltering",
            type: "POST",
            success: function(data) {
                console.log(data);
                for (var i in data) {
                    console.log('고객님과 유사한 고객님들의 ', data.indexOf(data[i]) + 1, '순위 보험 선택은 ', data[i], '입니다.');
                }
            },
        });
    </script>
</body>

</html>